# Copy this to .env and fill values
# Copy this to .env and fill values
PORT=4242
NODE_ENV=production
SESSION_SECRET=change_me_to_a_long_random_string
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change_admin_password
# Optional: Redis URL for session store (if you plan to run multiple app instances)
REDIS_URL=redis://localhost:6379
# If using Stripe etc
# STRIPE_SECRET=sk_test_xxx
